apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    categories: Schedule
    datasuit: Develop, Analysis
    icon: https://argoproj.github.io/argo-workflows/assets/images/favicon.png
    capabilities: Basic Install
  name: argo-workflow-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: ArgoWorkFlow is the Schema for the argoworkflows API
      displayName: Argo Work Flow
      kind: ArgoWorkFlow
      name: argoworkflows.stack.zncdata.net
      version: v1alpha1
  description: argo for workflow operator
  displayName: argo-workflow-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - argo
  - workflow
  links:
  - name: Argo Workflow Operator
    url: https://argo-workflow-operator.domain
  maturity: alpha
  provider:
    name: zncdata-labs
    url: https://github.com/zncdata-labs
  version: 0.0.0
